/* .raise-ticket-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    background-color: #fc5252; 
  }
  
  .raise-ticket-container h2 {
    font-size: 24px;
  }
  .raise-ticket-container .form-group label {
    font-size: 18px;
  }
  
  .raise-ticket-container .form-control {
    font-size: 14px;
  }
   */